﻿@{
    ViewBag.Title = "Book Grid Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-18 col-md-12">
            @(Html.Kendo().Grid<Library.ViewModels.BookGirdViewModels.BooksViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(entity => entity.Id).Visible(false);
            columns.Bound(entity => entity.Name);
            columns.Bound(entity => entity.PublishDate).Format("{0:MM/dd/yyyy}");
            columns.Command(command => { command.Edit(); command.Destroy(); });
        })
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .Navigatable()
        .Groupable()
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .ToolBar(toolbar =>
        {
            toolbar.Create();
        })

        .HtmlAttributes(new { style = "height:600px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
            .Model(model =>
                {
                model.Id(entity => entity.Id);
                model.Field(entity => entity.Id).Editable(false);
                }
            )
            .Read(read => read.Action("ReadBooks", "BookGrid"))
            .Create(create => create.Action("CreateBook", "BookGrid"))
            .Update(update => update.Action("UpdateBook", "BookGrid"))
            .Destroy(destroy => destroy.Action("DestroyBook", "BookGrid"))
            )
            .ClientDetailTemplateId("template")
            .Events(events => events.DataBound("dataBound"))
)
      </div>
    </div>
</div>
<script id="template" type="text/kendo-tmpl">
@(Html.Kendo().Grid<Library.ViewModels.BookGirdViewModels.WriterViewModel>()
            .Name("grid_#=Id#")
            .Columns(columns =>
            {
                columns.Bound(writer => writer.Id).Visible(false);
                columns.Bound(writer => writer.Name);
                columns.Bound(writer => writer.BirthDate).Format("{0:MM/dd/yyyy}");
                columns.Command(command => { command.Edit(); command.Destroy(); });
            })
            .DataSource(dataSource => dataSource
                .Ajax() 
                .PageSize(10)
                .Model(model =>
                    {
                        model.Id(entity => entity.Id);
                        model.Field(entity => entity.Id).Editable(false);
                    }
                )
                .Read(read => read.Action("ReadWriters", "BookGrid", new { bookID = "#=Id#" }))
                .Create(create => create.Action("CreateWriter", "BookGrid", new { bookID = "#=Id#" }))
                .Update(update => update.Action("UpdateWriter", "BookGrid"))
                .Destroy(destroy => destroy.Action("DestroyWriter", "BookGrid"))
            )
            .Pageable()
            .Sortable()
            .Editable(editing => editing.Mode(GridEditMode.InLine))

            .ToolBar(toolbar =>
            {
                toolbar.Create();
            })
            
            .ToClientTemplate()
)
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>